.App {
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}

.notes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

.note {
  background: #fef3c7;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: move;
}

.input-container {
  margin-bottom: 16px;
}

.input-container input {
  padding: 8px;
  width: 200px;
  margin-right: 8px;
}

.input-container .btn {
  padding: 8px 12px;
}

.btn {
      margin-top: 10px;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      background-color: #28a745;
      color: white;
      cursor: pointer;
      border-radius: 5px;
    }
    .btn:hover {
      background-color: #218838;
    }

input {
  border: 0;
}
.delete {
  background-color: white;
  border: 0;
  padding: 0;
  height: 4rem;
  width: 6rem;
  position: relative;
  top: 1rem;
}
img {
  height: 3rem;
  width: 4rem;
  padding: 0;
  margin: 0;
}